.root .inner .radio {
  &:not(:disabled) {
    background-color: 'var(--mantine-color-white-0)' !important;
  }
  &:checked {
    background-color: var(--radio-color, var(--mantine-primary-color-filled)) !important;
  }
}
